{
    "presets": ["@babel/preset-env"],
    "plugins": [
      "@babel/plugin-syntax-dynamic-import",
      ["@babel/plugin-transform-react-jsx", {
        "pragma": "h",
        "pragmaFrag": "Fragment",
      }],      "@babel/plugin-proposal-class-properties"
    ]
  }